# RStudio port (default: 9211)
# RSTUDIO_PORT=9211

# Data directories to mount into the container
# HOME environment variable is used by default
# DATA_DIR=${HOME}/data
# CODE_DIR=${HOME}/code
# R_DIR=${HOME}/R
